@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: radial-gradient(50% 50% at 50% 50%, #0d0705 0%, #150d09 100%);
  height: 100vh;
  font-family: var(--font-poppins);
}

.blue-blur {
  background: linear-gradient(
    91deg,
    rgba(43, 179, 255, 0.12) 40.56%,
    rgba(41, 107, 144, 0.17) 60.81%,
    rgba(217, 217, 217, 0) 85.34%
  );
  backdrop-filter: blur(2px);
  color: white;
}

.chat-border{
  border-radius: 0.9375rem;
  background-image: linear-gradient(206deg, #292929 17.56%, #424242 48.72%, #474747 66.39%, #434243 74.56%, #303030 85.66%, #1B1B1B 102.7%);
}

.chat::-webkit-scrollbar {
  width: 0.1875rem;
}
 
.chat::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #525252;
}
 
.chat::-webkit-scrollbar-thumb {
  background-color: #FFF;
  border-radius: 0.1875rem;
  outline: 1px solid slategrey;
}
